@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: rgb(48, 5, 123);
  --background-end-rgb: rgb(124, 58, 237);

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3));

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(#ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80);

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

html {
  /* background: linear-gradient(rgb(27, 0, 74), rgb(72, 2, 192));
  height: 100%; */
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #ffffff;
  /* background: linear-gradient(rgb(27, 0, 74), rgb(48, 2, 126)) no-repeat; */
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.events-page-swiper .swiper-wrapper {
  margin-bottom: 30px;
}

.events-page-swiper .swiper-wrapper {
  margin-bottom: 30px;
}

#telegram-login-daolens_bot {
  margin: auto;
}

#telegram-login-daolenstestbot {
  margin: auto;
}

.text_shadow {
  color: rgb(27, 0, 74);
  text-shadow:
    -0.5px -0.5px 0 #ffffff,
    0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff,
    0.5px 0.5px 0 #ffffff;
}

.explore-page-swiper {
  width: 100%;
  margin-top: 1rem;

}

.explore-page-swiper .swiper-slide {
  width: auto;
}

.explore-page-swiper .swiper-wrapper {
  margin-bottom: 30px;
}

.ticket_layout {
  display: inline-block;
  box-sizing: content-box;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  position: relative;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 50%, rgba(255, 255, 224, 0) 2em, #e9f4f7 0.5em), radial-gradient(circle at 100% 50%, rgba(255, 255, 224, 0) 2em, #e9f4f7 0.5em);
  background-position: top left, top right;
}